
# node modules (의존성 라이브러리)
node_modules/

# Next.js 빌드 폴더
.next/

# 빌드 결과물
out/
dist/

# 환경 변수 파일
.env
.env.local
.env.*.local

# 로그 파일
*.log

# macOS
.DS_Store

# Vercel / Netlify 관련
.vercel/
.netlify/

# 에디터 관련
.vscode/
.idea/

# 기타
*.tgz
